*{
    margin: 0;
    padding: 0;
}
/* shered style */
.inter-font {
  font-family: "Inter", sans-serif;
}
.gradient-text{
font-size: 3rem;
font-weight: bold;
background: linear-gradient(to right,#ffffff 45%, #F7E93F 0%, #FB09B4 51%, #9901ff 100%);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

.gradient-button{
  font-size: 1rem;
  font-weight: 600px;
  border-style: none;
  padding: 12px 16px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9901ff 100% );
  
}
/* shered style */

/********************* navbar section start ***********************/
/* *******************                    **********************/
nav{
  display: flex;
  justify-content: space-around;
  background-color: #1A0B2E;
  align-items: center;
  color: white;
  padding: 20px;
}
.menu ul{
  display: flex;
  list-style: none;
  gap: 32px;
}
.menu ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500px;
}
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 5%;
    background: #1a0b3b;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.menu-btn {
    display: none; 
    color: white;
    font-size: 22px;
    cursor: pointer;
}

#click {
    display: none; 
}


/********************* navbar section end ***********************/
/* *******************                    **********************/



/********************* hero section start ***********************/
/* *******************                    **********************/

.hero-bg{
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
.hero-circle{
  position: relative;
    display: inline-block;
    margin-top: 100px;
}

.hero-microphone{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h2{
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 800px;
  margin-top: 40px;
  margin-bottom: 8px;
}
.hero-text p{
  color: white;
  font-size: 1rem;
  font-family: 400px;
  margin-bottom:24px ;
}
.spotify-btn{
  font-size: 1rem;
  font-weight: 600px;
  border-style: none;
  padding: 12px 16px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9901ff 100% );
}
.hero-spotify-btn{
  display: inline-flex;
  gap: 8px;
}
.spotify-btn, .subscribe-btn , .hero-subscribe-btn{
    transition: all 0.3s ease-in-out; 
}

.spotify-btn:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 0, 204, 0.4); 
}
.hero-subscribe-btn{
  text-decoration: none;
  color: #00FF88;
  font-size: 1rem;
  font-weight: 600px;
  border: 2px solid #00FF88;
  padding: 10px 20px;
  border-radius: 400px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
  
}

.subscribe-btn:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(255, 0, 204, 0.4); /
}
.hero-subscribe-btn:hover {
  background-color: #000000;
  color: #00FF88;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(40, 163, 9, 0.4); /
}







/********************* hero section end   ***********************/
/* *******************                    **********************/



/********************* podcast section start  ***********************/
/* *******************                      **********************/

.podcast-container{
  background-color: #1A0B2E;
}
.about-podcast{
  color: white;
  text-align: center;
}
.about-podcast h2{
  font-size: 3rem;
  font-weight: bold;
  padding-top: 50px;
}
.about-podcast p{
  font-size: 1rem;
  font-weight: 400px;
  margin-top: 16px;
}
.line{
  border-top: 2px solid #e4dede;
  width: 1200px;
  margin: 80px auto;
}

.state-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  width: 75rem;
  height: 6rem;
  margin: 0 auto;
  gap: 80px;
  padding-bottom: 120px;
  
}
.state-item h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bold;
}
.state-item p{
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400px;
  text-transform: uppercase;
  margin-top: 16px;
}
/********************* podcast section end  ***********************/
/* *******************                      **********************/


/********************* Why-TechWave section start ***********************/
/* *******************                      **********************/
.why-techwabe-section{
  background-color: #230E3D;
  padding-bottom: 120px;
}
.techwabe-title{
  font-size: 3rem;
  font-weight: 400px;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 40px;
  text-align: center;
}
.why-techwabe-container>*{
  padding: 40px;
  border-radius: 50px;
  background-color: rgba(93, 37, 167, 0.336);

}
.why-techwabe-container{
  display: grid;
gap: 30px;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(6,1fr);
max-width: 1200px;
margin: 0 auto;
color: #ffffff;
}

.why-techwabe-container h2{
  font-size: 1,5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.why-techwabe-container p{
  font-size: 1rem;
  font-weight: 400px;
}


.normal-layout{
  grid-column: span 2;
  grid-row: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.big-layout{
  grid-column: span 4;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.exclusive-interviews{
  grid-column: span 4;
  grid-row: span 4;
}
.exclusive-img{
width: 7rem;
height: auto;
}



/********************* Why-TechWave section end  ***********************/
/* *******************                      **********************/



/********************* Featured Episodes section start  ***********************/
/* *******************                                  **********************/

.feature-card-section{
  background-color: #1A0B2E;
  padding-bottom: 120px;
}
.feature-episode-title{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top:120px ;
  padding-bottom: 40px;

}
.feature-card-container{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3,1fr);
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
 
}
.feature-card{
  background-color: rgba(93, 37, 167, 0.336);
   border-radius: 20px;
}
.video-container iframe{
  border-radius: 12px 12px 0 0;
}
.card-contain{
  padding: 24px;
}
.card-contain h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.card-contain p{
  font-size: 1rem;
  font-weight: 400px;
  margin-bottom: 12px
}
.timer{
  display: inline-flex;
  gap: 6px;
  align-items: center;
}

.feature-card {
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}

/********************* Featured Episodes section end  ***********************/
/* *******************                                **********************/


/********************* Meet the Host section start  ***********************/
/* *******************                                **********************/
.host-section{
  background-color: #1A0B2E;
  padding-bottom:120px ;
}
.host-section h2{
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 40px;
}

.host-container{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  color: #ffffff;
  background-color: rgba(93, 37, 167, 0.336);
  border-radius: 50px;
  align-items: center;
  gap: 24px;
}
.host-text h3{
  font-size: 2rem;
  font-weight: bold;
}
.host-text p{
  font-size: 1rem;
  font-weight: 400px;
  margin-top: 16px;
}
.host-social-icon{
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
.icon-circle{
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}



/********************* Meet the Host section end  ***********************/
/* *******************                                **********************/



/*********************  footer section start   ***********************/
/* *******************                         **********************/

.footer-container{
  background-image: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  text-align: center;
  color: #ffffff;
}
.footer-title{
  font-size: 4rem;
font-weight: bold;
background: linear-gradient(to right,#ffffff 49%, #F7E93F 0%, #FB09B4 51%, #9901ff 100%);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}
.footer-icon a{
  font-size: 1rem;
  font-weight: 500px;
text-decoration: none;
color: #ffffff;
display: inline-flex;
align-items: center;
gap: 5px;
margin: 32px 20px;
}
small{
  font-size: 1rem;
  font-weight: 400;
}


/*********************  footer section end    ***********************/
/* *******************                        **********************/



/*********************   navbar media query 576px start ***********************/
/* *******************                                   **********************/


@media (max-width: 576px) {

.logo h2{
  font-size: 2rem;
}

.menu {
  position: fixed;
  top: 70px; 
  left: -100%; 
  background: #1a0b3b;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  transition: all 0.4s ease;
  z-index: 100;
    }
    .menu-btn {
display: block; 
    }

    #click:checked ~ .menu {
        left: 0;
    }

    .menu ul {
        flex-direction: column; 
        text-align: center;
    }

    .menu ul li {
        margin: 15px 0;
    }
    .gradient-button {
        display: none;
    }
}

/*********************   navbar media query 576px end    ***********************/
/* *******************                                   **********************/




/*********************   hero section media query 576px start ***********************/
/* *******************                                        **********************/
@media (max-width: 576px){
.hero-mobile-bg{
  background-image: url(assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  max-width: 576px;
  min-height: 466px;
}
.hero-circle img{
  position: relative;
   max-width: 200px;
   max-height: 200px;
    
}

.hero-microphone img{
  max-width: 80px;
  max-height: 80px;
}

.hero-microphone{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h2{
  font-size: 2.5rem;
  margin-top: 24px;
}
.hero-text p{
  padding: 0 20px;
  margin-bottom: 24px;
}

}

/*********************   hero section media query 576px end   ***********************/
/* *******************                                        **********************/


/*********************   about podcast section media query 576px start ***********************/
/* *******************                                                 **********************/
@media (max-width: 576px) {
    .podcast-container{
      padding: 0px 20px 150px 20px;
      
    }
    .about-podcast{
      text-align: center; 
    }
    .about-podcast h2{
      font-size: 2rem;
      
      
    }
    .line{
      max-width: 440px;
       margin: 40px auto;
    }
    .state-container{
    max-width: 400px;
    max-height: 208px;
    display: grid;
    grid-template-columns: repeat(2,2fr); 
    gap: 20px;
    padding: 20px;
    text-align: center;
    padding: 0 20px 40px 20px;
    }
    
}

/*********************   about podcast section media query 576px end   ***********************/
/* *******************                                                 **********************/


/*********************   why techwave section media query 576px start  ***********************/
/* *******************                                                 **********************/

@media (max-width: 576px) {
  .why-techwabe-container>*{
  padding: 24px;
  border-radius: 20px;

}
.why-techwabe-container{
  display: grid;
   grid-template-columns: 1fr;
   padding: 0 20px;
}
.techwabe-title{
  padding-top: 50px;
  font-size: 2rem;
}
.normal-layout{
  grid-column: span 4;
  grid-row: span 2;
}
.why-techwabe-section{
  background-color: #230E3D;
  padding-bottom: 40px;
}

}


/*********************   why techwave section media query 576px end    ***********************/
/* *******************                                                 **********************/



/*********************   feature card  section media query 576px start  ***********************/
/* *******************                                                  **********************/
@media (max-width: 576px) {
.feature-episode-title{
  font-size: 2rem;
  padding: 40px 20px 24px 20px;
}
.feature-card-container{
  display: grid;
  grid-template-columns: 1fr;
  width: 400;
  margin: 0 20px 0 20px;
  
}
.card-contain h2{
  font-size: 1.35rem;
}
.card-contain p{
  font-size: 1rem;
}
.feature-card-container iframe{
  width: 100%;
  height: 225px;
}
.feature-card-section{
  background-color: #1A0B2E;
  padding-bottom: 0px;
}

}

/*********************   feature card  section media query 576px end    ***********************/
/* *******************                                                  **********************/


/*********************   host section media query 576px start    ***********************/
/* *******************                                            **********************/ 




@media (max-width:576px){
.host-container{
  max-width: 400px;
  text-align: center;
  display: block;
  margin-left: 20px ;
  margin-right: 20px;
}
.host-section h2{
  font-size: 2rem;
  padding: 60px 20px 24px 20px;
}
.host-social-icon{
  justify-content: center;
}
.host-text h3{
  font-size: 1.5rem;
  font-weight: bold;
}

}


/*********************   host section media query 576px end   ***********************/
/* *******************                                        **********************/ 


/*********************   footer section media query 576px start    ***********************/
/* *******************                                            **********************/ 
@media (max-width: 576px){

.footer-title{
  font-size: 2rem;
}
.footer-icon {
  max-width: 400px;
  justify-content: center;
 margin: 0 auto;
}
.footer-icon a{
  margin: 16px;
}
}

/*********************   footer section media query 576px rnd   ***********************/
/* *******************                                          **********************/ 








