*{
    margin: 0;
    padding: 0;
}
/* shered style */
.inter-font {
  font-family: "Inter", sans-serif;
}
.gradient-text{
font-size: 3rem;
font-weight: bold;
background: linear-gradient(to right,#ffffff 45%, #F7E93F 0%, #FB09B4 51%, #9901ff 100%);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

.gradient-button{
  font-size: 1rem;
  font-weight: 600px;
  border-style: none;
  padding: 12px 16px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9901ff 100% );
  
}
/* shered style */

/********************* navbar section start ***********************/
/* *******************                    **********************/
nav{
  display: flex;
  justify-content: space-around;
  background-color: #1A0B2E;
  align-items: center;
  color: white;
  padding: 20px;
}
.menu ul{
  display: flex;
  list-style: none;
  gap: 32px;
}
.menu ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500px;
}
/********************* navbar section end ***********************/
/* *******************                    **********************/



/********************* hero section start ***********************/
/* *******************                    **********************/

.hero-bg{
  background-image: url(assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
.hero-circle{
  position: relative;
    display: inline-block;
    margin-top: 100px;
}
.hero-microphone{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text h2{
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 800px;
  margin-top: 40px;
  margin-bottom: 8px;
}
.hero-text p{
  color: white;
  font-size: 1rem;
  font-family: 400px;
  margin-bottom:24px ;
}
.hero-spotify-btn{
  display: inline-flex;
  gap: 8px;
}

.hero-subscribe-btn{
  text-decoration: none;
  color: #00FF88;
  font-size: 1rem;
  font-weight: 600px;
  border: 2px solid #00FF88;
  padding: 12px 20px;
  border-radius: 400px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
  
}

/********************* hero section end   ***********************/
/* *******************                    **********************/



/********************* podcast section start  ***********************/
/* *******************                      **********************/

.podcast-container{
  background-color: #1A0B2E;
}
.about-podcast{
  color: white;
  text-align: center;
}
.about-podcast h2{
  font-size: 3rem;
  font-weight: bold;
  padding-top: 50px;
}
.about-podcast p{
  font-size: 1rem;
  font-weight: 400px;
  margin-top: 16px;
}
.line{
  border-top: 2px solid #e4dede;
  width: 1200px;
  margin: 80px auto;
}

.state-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  width: 75rem;
  height: 6rem;
  margin: 0 auto;
  gap: 80px;
  padding-bottom: 120px;
  
}
.state-item h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bold;
}
.state-item p{
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400px;
  text-transform: uppercase;
  margin-top: 16px;
}
/********************* podcast section end  ***********************/
/* *******************                      **********************/


/********************* podcast section end  ***********************/
/* *******************                      **********************/


/********************* podcast section end  ***********************/
/* *******************                      **********************/

